:root{
    --font-family-base:  JetBrainsMono,NotoSansSC, -apple-system, system-ui, BlinkMacSystemFont,
    Helvetica Neue, PingFang SC, Hiragino Sans GB, Arial, sans-serif,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --font-family-mono: JetBrainsMono,source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;

}

@font-face {
    font-family: 'JetBrainsMono';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: local('JetBrainsMono'), local('JetBrainsMono'),
        url('./font/JetBrainsMonoNL-Regular.ttf');
}


@font-face {
    font-family: 'JetBrainsMono';
    font-weight: bold;
    font-display: auto;
    src: local('JetBrainsMono'), local('JetBrainsMono'),
    url('./font/JetBrainsMonoNL-Bold.ttf');
}

@font-face {
    font-family: 'NotoSansSC';
    font-style: normal;
    font-weight: normal;
    font-display: auto;
    src: local('NotoSansSC'), local('NotoSansSC'),
        url('./font/NotoSansSC-Regular.otf') format('otf');
}
@font-face {
    font-family: 'NotoSansSC';
    font-weight: bold;
    font-display: auto;
    src: local('NotoSansSC'), local('NotoSansSC'),
        url('./font/NotoSansSC-Bold.otf') format('otf');
}

.sidebar > .sidebar-links > .sidebar-link + .sidebar-link {
    padding-top: 0;
}

.sidebar > .sidebar-links > .sidebar-link > .sidebar-link-item{
    font-size: 1rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
}

.sidebar > .sidebar-links > .sidebar-link > .sidebar-links > .sidebar-link > .sidebar-link-item{
    padding: 0.3rem 1.5rem 0.3rem 2rem;
}

main .container{
    max-width: 52rem !important;
    text-align: justify;
}